<%- include('partials/header') %>
<h1 class="title">JSON CRUD (Create, Read, Update, Delete)</h1>
<a href="/add" class="create">Create</a>
<table>
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Birth Date</th>
      <th>Is Married</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% datas.forEach((data, index) => {%>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= data.name %></td>
      <td><%= data.height %></td>
      <td><%= data.weight %></td>
      <td><%= data.birthday %></td>
      <td><%= data.isMarried ? "Yes" : "Not yet" %></td>
      <td>
        <a href="/edit/<%= index %>">Update</a>
        <a href="/delete/<%= index %>" onclick="return confirm(`apakah kamu yakin akan menghapus data '<%= data.name %>'`)">Delete</a>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>

<%- include('partials/footer') %>
